@use 'src/styles/vars';
@use 'sass:math';

.card {
  border-radius: 1rem;
  border: 1px solid vars.$colorThree;
  width: calc(30% - #{math.div(vars.$gutter, 2)});
  margin-top: vars.$gutter;
  overflow: hidden;
  text-align: center;
  margin-bottom: math.div(vars.$gutter, 3);
  margin-right: math.div(vars.$gutter, 3);
  margin-left: math.div(vars.$gutter, 3);
  box-shadow: 0px 0px 5px 1px black;

  &:hover{
    box-shadow: 0px 0px 5px 1px vars.$colorOne;
  }
  
  @media (max-width: vars.$medium) {
    width: 45%;
  }
  
  @media (max-width: vars.$small) {
    width: 100%;
  }

  &-img{
    width: 100%;
    height: 30rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: math.div(vars.$gutter, 2);
  }

  &-title {
    font-size: 1.6em;
    margin-bottom: .2em;
  }

  &-tag {
    color: rgba(0,0,0,.4);
    font-size: 1.2em;
    margin-bottom: math.div(vars.$gutter, 2);
  }

  &-link {
    background-color: vars.$colorTwo;
    color: black;
    display: block;
    text-align: center;
    padding: math.div(vars.$gutter, 2);
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;

    &:hover {
      background-color: vars.$colorOne;
      color: white;
      transform: scale(1.3);
    }
  }
}
