.title-contact {
  text-align: center;
}

.contact-picture {
  width: 80%;
  height: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
